<html>
<head></head>

<body style="background-color: #F2F2F2">
<div>
    <div>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td align="center">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                           style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; border-collapse: separate; border-spacing: 2px 5px; box-shadow: 1px 0 1px 1px #B8B8B8; padding-bottom: 50px;"
                           bgcolor="#FFFFFF">
                        <tr>
                            <td align="center" style="padding-top: 30px;">
                                <img src="http://maexit.net/public/assets/logo.png">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"
                                style="padding-left: 45px; padding-right: 45px; padding-top: 15px; font-size: 18px">
                                <strong>Herzlichen Glückwunsch, dass Sie die Maexit Marktfähigkeitsanalyse ausgefüllt
                                    haben.</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                Der Marktfähigkeits-Report und die SWOT Analyse wurden entwickelt, um Ihnen eine
                                Indikation zu geben, wie marktfähig (verkaufbar) und attraktiv (für Investoren und
                                Nachfolger) Ihr Unternehmen ist anhand von 8 strategischen Einflussfaktoren (Key Value
                                Drivers).
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                Die Steigerung dieser strategischen Einflussfaktoren bedingt nicht nur die Steigerung
                                des strategischen Unternehmenswertes, sondern das bedeutet auch, daß Sie Ihr Unternehmen
                                wachstumsfähiger, effizienter und profitabler machen.
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                Unter folgendem Link können Sie Ihren personalisierten Report im Maexit Portal
                                runterladen. Beim ersten Einlggen vergeben Sie sich ein Passwort und können immer wieder
                                auf die Plaatform zu Ihrem Report zurückkehren.
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <img src="http://maexit.net/public/assets/download.jpg"> <br/><br/>
                                <strong style="display:block; margin-top: 15px;">
                                    Zum Dashboard: <a href="http://maexit.net/public/users/login.php" target="_blank">link</a>
                                </strong>
                                <br/>
                                <strong>
                                    Ihr Login: [[${login}]]
                                </strong>
                                <br/>
                                <strong>
                                    Ihr Passwort: [[${pwd}]]
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px; font-size: 18px">
                                <strong>Wollen Sie mehr darüber erfahren, wie Sie den strategischen Wert Ihre
                                    Unternehmens steigern können, um das Maximum für sich, Ihre Unternehmen und den
                                    Nachfolger herauszuholen? </strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                Wir haben Ihnen einen personalisierten Marktfähigkeitsreport bereitgestellt, der Ihnen
                                die Verkaufbarkeit und Attraktivität Ihres Unternehmens anhand von 8 entscheidenden Key
                                Value Driver aufzeigt und einen ersten Einblick gibt, wie Sie diese Schlüsselbereiche
                                und -faktoren verbessern können.
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                1) Wenn Sie erfahren möchten, welche Exit-Strategien und Optionen Ihnen offen stehen und
                                wie Sie Ihr Unternehmen verkaufbar machen und die Attraktivität erhöhen durch
                                strategischen Unternehmenswertsteigerung mit dem MAEXIT Konzept, dann buchen Sie eine
                                kostenlose Strategie Session.
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                In diesem Gespräch zeige ich Ihnen konkrete Erfolgsbeispiele in verschiedenen Branchen,
                                wie Sie Ihren Maximum Exit erfolgreich vorbereiten und durchführen können. Nach dem
                                Gespräch haben Sie absolute Klarheit, was möglich ist und einen konkreten Fahrplan,
                                welche Schritte Sie als nächstes durchführen müssen.
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                <strong>Das kostenlose Strategiegespräch deckt folgende Themenbereich ab:</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                Wie Sie:
                                <ul>
                                    <li>Verkaufbarkeit Ihres Unternehmens herstellen</li>
                                    <li>Attraktivitätsfaktoren für Investoren und Nachfolger erhöhen</li>
                                    <li>Unternehmenswertsteigerungspotenzial identifizieren und beschleunigen</li>
                                    <li>Persönliche Ziele schneller und mit Sicherheit erreichen durch gezielte
                                        Wachstums- und Exit Optionen und -strategien
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="https://app.acuityscheduling.com/schedule.php?owner=14643758"
                                   style="padding-left: 15px; padding-right: 15px; background-color: red; color: #fff;">I
                                    WANT A STRATEGY SESSION</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                2) Besuchen Sie und auf einem unserer Live Seminare oder Veranstaltungen zur
                                Unternehmenswertoffensive, auf denen wir weitere Einblicke und Maßnahmen teilen werden,
                                wie Sie Ihr Unternehmen skalierbarer, effiziente und profitabler gestalten können, um
                                für Nachfolger und Investoren nicht nur ein erfolgreiches Unternehmen aufzubauen,
                                sondern auch erfolgreich übergeben und für die Zukunft nach Ihnen absichern können.
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="http://www.unternehmenswertoffensive.com/"
                                   style="padding-left: 15px; padding-right: 15px; background-color: red; color: #fff;">LEARN
                                    MORE</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                Ich hoffe, Sie können einen wertvollen Einblick durch den Marktfähigkeits-Report
                                gewinnen, der Ihnen auf dem Weg zum Maximum Exit helfen wird.
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                Freundliche Grüße
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px;">
                                Christian Haack <br/>
                                Founder & CEO of MAEXIT
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
                                <small>Profiness Business Agentur, Magirus-Deutz-Str. 12, 89077 Ulm</small>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>