<html>
<body>


<p>
    <strong>Maexit Marktfähigkeits-Report</strong>
</p>
<p>
    Inhalt:
</p>
<p>
    1. Einführung
</p>
<p>
    2. Grundlagen Unternehmensbewertung
</p>
<p>
    3. Finanzinvestor vs. strategischer Investor
</p>
<p>
    4. Strukturen und Prozesse
</p>
<p>
    5. Cashflow Effizienz
</p>
<p>
    6. Umsatzsicherheit
</p>
<p>
    7. Unabhängigkeit
</p>
<p>
    8. Wachstumspotenzial
</p>
<p>
    9. Tech-Innovationsfähigkeit
</p>
<p>
    10. Austauschbarkeit
</p>
<p>
    11. Immaterielle Mehrwerte
</p>
<p>
    12. Next Steps
</p>
<p>
    1 <strong>Wie dieser Bericht zu benutzen ist</strong>
</p>
<p>
    Ihr Maexit Score setzt sich aus der Analyse acht strategischer
    Leistungsbereiche zusammen, die entscheidend für die Wahl eines
    Unternehmens als potenzielles Akquisitionsziel sind. Diese Bereiche werden
    Key Value Driver genannt, weil sie die Schlüsselfaktoren der strategischen
    Unternehmensbewertung sind. Die Informationen aus diesem Bericht
    identifzieren jene Bereiche Ihres Unternehmens, die entweder besonders
    wertvoll sind oder strategischer Verbesserung bedürfen.
</p>
<p>
    Ihr Maexit Score leitet sich aus der Summe dieser acht Punkte ab, die die
    Grundlage für unser vielfach erprobtes Bewertungsmodell sind. Es wurde
    durch intensive Analyse und Recherche unter Geschäftsinhabern, Beratern und
    Investoren erstellt.
</p>
<p>
    Durch Ihre Punktzahl erhalten Sie eine Indikation für den Status quo Ihres
    Unternehmens in allen acht strategischen Bereichen, die ausschlaggebend für
    einen Maexit sind. Außerdem gewinnen Sie einen Einblick in die
    durchschnittliche Punktzahl jedes Bereiches, die vergleichbare Unternehmen
    Ihrer Branche erzielt haben. Um Ihren Maexit Score zu verbessern, sollten
    Sie mit den Bereichen beginnen, die am schlechtesten abgeschnitten haben.
    Am Ende jedes Abschnitts finden Sie eine Reihe von Fragen, die als Input
    für die Zusammenarbeit mit Ihrem Berater verwendet werden können.
</p>
<p>
    Bitte gehen Sie zur nächsten Seite, um Ihre Gesamtpunktzahl anzusehen.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Gesamtpunktzahl</strong>
</p>
<p>
    Nachfolgend eine Erklärung Ihrer erreichten Punktzahl:
</p>
<p>
    <strong>Auswertung: 80-100 Punkte</strong>
</p>
<p>
    Eine Punktzahl von mehr als 80 bedeutet, dass Ihr Unternehmen weitaus
    wertvoller ist als der durchschnittliche Betrieb, den wir analysiert haben.
    Dennoch gibt es immer noch viele Möglichkeiten, Ihren Wert so nah wie
    möglich an die 100 zu bringen.
</p>
<p>
    <strong>Auswertung: 50-80 Punkte</strong>
</p>
<p>
    Eine Punktzahl zwischen 50-80 zeigt an, dass Sie viele Möglichkeiten haben,
    den Wert Ihrer Firma erheblich zu steigern. Nach unserer Analyse von
    tausenden von Betrieben wie Ihren können Sie den strategischen Wert Ihres
    Unternehmens bis zu 300% verbessern, indem Sie Ihre Punktzahl auf 80 oder
    höher steigern.
</p>
<p>
    <strong>Auswertung: Weniger als 50 Punkte</strong>
</p>
<p>
    Eine Punktzahl von weniger als 50 heißt, dass Sie viele Möglichkeiten
    haben, den Wert Ihrer Firma erheblich zu steigern. Nach unserer Analyse
    vieler vergleichbarer Betriebe wie Ihrem können Sie den Wert Ihres
    Unternehmens bis auf das Dreifache verbessern, indem Sie Ihre Punktzahl auf
    80 oder höher steigern.
</p>
<p>
    2 <strong>Grundlagen finanzbasierter Unternehmensbewertung</strong>
</p>
<p>
    Die finanzielle Unternehmensbewertung basiert auf der Analyse der
    erwartenden Gewinne, die durch einen sogenannten Gewinnmultiplikator
    (Multiple) ermittelt werden. Diese zu erwartenden Gewinne sind allerdings
    nur ein Faktor des tatsächlichen Unternehmenswerts und in etwa vergleichbar
    mit einem Marathonläufer, der sich nur auf die Zeit konzentriert, die er
    für einen Lauf braucht. Sein Erfolg setzt sich aus vielen weiteren Faktoren
    zusammen wie der Ernährung, der Art des Trainings, der Tagesverfassung und
    seinem allgemeinen Gesundheitszustand. Nur wenn er sie alle berücksichtigt,
    wird er Erfolg haben.
</p>
<p>
    <u></u>
</p>
<p>
    <u>Die Zahlen, die zu Ihrem Multiplikator führen</u>
</p>
<p>
    Die Käufer, die ein Unternehmen erwerben, führen üblicherweise einige
    Kalkulationen durch, um festzulegen, wie viel sie heute für die Rechte an
    zukünftigen Unternehmensgewinnen bezahlen möchten. Solche Kalkulationen
    sind den meisten Unternehmern vertraut. Sie haben sich beispielsweise in
    der Vergangenheit dazu entschieden, 1.000 € in eine Anleihe zu investieren,
    die 5 Prozent Zinsen pro Jahr anbietet. Das bedeutet, dass Sie sich dazu
    entschieden haben, 1.000 € für etwas auszugeben, das in einem Jahr einen
    Wert von 1.050 € haben wird.
</p>
<p>
    Um zu sehen, wie diese Rechnung Ihren Unternehmenswert beeinflusst, stellen
    Sie sich vor, dass Sie ein Unternehmen haben, von dem Sie erwarten, dass es
    im nächsten Jahr einen Gewinn vor Steuern in Höhe von 1.000.000 €
    erwirtschaften wird. Käufer, die nach einer jährlichen Rendite für ihr Geld
    in Höhe von 15 Prozent streben, würden heute 869.570 € (1.000.000 €
    dividiert durch 1,15) für 1.000.000 € in einem Jahr ab dem jetzigen
    Zeitpunkt zahlen.
</p>
<p>
    Wenn finanzorientierte Käufer ein Unternehmen bewerten, analysieren diese
    normalerweise nicht nur den Gewinn des nächsten Jahres, sondern alle
    erwarteten Gewinne in absehbarer Zeit. Für jedes Jahr in der Zukunft, in
    denen die Käufer auf ihre Gewinne warten müssen, ziehen sie von dem
    vorhergesagten zukünftigen Gewinn die Rendite, die sie erwarten, ab.
</p>
<p>
    Wenn Sie zum Beispiel vorhersagen, dass Ihr Unternehmen für die nächsten 10
    Jahre jährlich einen Gewinn in Höhe von 1.000.000 € erwirtschaften wird,
    würden finanzielle Käufer von den 1.000.000 € für jedes Jahr, das sie auf
    ihr Geld warten müssen, 15 Prozent abziehen:
</p>
<table border="1" cellspacing="0" cellpadding="0" width="597">
    <tbody>
    <tr>
        <td width="199" valign="top">
            <p>
                Ende des Jahres
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                Gewinn vor Steuern
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                15% Discount
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                1
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 869.570
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                2
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 756.140
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                3
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 657.520
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                4
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 571.750
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                5
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 497.180
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                6
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 432.330
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                7
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 375.940
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                8
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 326.900
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                9
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 284.260
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                10
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 247.190
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                <strong>Aktueller Marktwert</strong>
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                <strong></strong>
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                <strong>€ 5.018.780</strong>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    Deswegen würde ein Investor, der nach einer Rendite in Höhe von 15 Prozent
    strebt, 5.018.780 € (im MBA Sprachgebrauch nennt man es »aktueller
    Marktwert«) für ein Unternehmen zahlen, von dem er erwartet, dass es in den
    nächsten 10 Jahren jährlich 1.000.000 € erwirtschaftet.
</p>
<p>
    <u></u>
</p>
<p>
    <u>
        Das Verhältnis zwischen Risiko und Gewinn beeinflusst Ihren »Maexit
        Score«
    </u>
</p>
<p>
    Der Preis, den ein Investor bereit ist, für einen Vermögenswert auszugeben,
    hängt davon ab, wie riskant er den zukünftigen Gewinnzufluss einschätzt: Je
    riskanter die Investition, desto höher die Rendite, die ein Investor
    verlangt. Heutzutage können Investoren ihr Geld in ziemlich sichere
    Anleihen investieren und erhalten ein paar Prozentpunkte Rendite. Oder sie
    können ein ausgeglichenes Portfolio mit Aktien großer Unternehmen kaufen
    und somit vielleicht mit der Zeit sieben oder acht Prozent Rendite
    erwarten.
</p>
<p>
    Wenn Investoren allerdings ein ziemlich riskantes Unternehmen anstatt ein
    ausgeglichenes Portfolio kaufen, können sie eine viel höhere Rendite für
    ihr Geld erwarten. Stellen Sie sich zu Illustrationszwecken vor, dass ein
    Investor für den Kauf Ihres Unternehmens nach einer Rendite in Höhe von 50
    Prozent strebt, da er Ihren zukünftigen Gewinnzufluss als sehr riskant
    erachtet. Dies liegt daran, dass Ihre Erträge in den letzten drei Jahren
    unbeständig waren. Die folgende Tabelle zeigt, welchen Einfluss ein
    Zinssatz von 50 Prozent auf das Unternehmen hat, für das ein jährlicher
    Gewinn in Höhe von 1.000.000 € vorhergesagt wird:
</p>
<table border="1" cellspacing="0" cellpadding="0" width="597">
    <tbody>
    <tr>
        <td width="199" valign="top">
            <p>
                Ende des Jahres
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                Gewinn vor Steuern
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                50% Discount
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                1
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 666.670
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                2
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 444.440
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                3
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 296.300
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                4
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 197.530
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                5
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 131.690
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                6
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 87.790
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                7
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 58.530
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                8
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 39.020
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                9
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 26.010
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                10
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 1.000.000
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                € 17.340
            </p>
        </td>
    </tr>
    <tr>
        <td width="199" valign="top">
            <p>
                <strong>Aktueller Marktwert</strong>
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                <strong></strong>
            </p>
        </td>
        <td width="199" valign="top">
            <p>
                <strong>€ 1.965.320</strong>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p>
    Das gleiche Unternehmen, für welches vorhergesagt wird, dass es in den
    nächsten 10 Jahren 1.000.000 € erwirtschaften wird, ist aufgrund des
    analysierten Risikos weniger als die Hälfte wert, wenn der Investor eine
    Rendite in Höhe von 50 Prozent anstatt 15 Prozent fordert.
</p>
<p>
    <u>Das Verhältnis von Größe und Risiko </u>
</p>
<p>
    Mergers &amp; Akquisitions Experten benennen einen sogenannten »Diskont für
    kleine Unternehmen«, der auf der Annahme beruht, dass kleine Unternehmen
    risikoreicher als großere Unternehmen sind. Bei diesem Diskont geht man
    davon aus, dass größere Unternehmen bedeutender und stabiler sind, als
    kleine, weil sie einen Weg gefunden haben, jenseits der Bemühungen der/des
    Eigentümer(s) selbstständig zu wachsen. Das macht sie unabhängiger von
    dem/den Eigentümer/n. Auf diese Weise beeinflusst die Größe Ihres
    Unternehmens Ihren »Maexit Score«.
</p>
<p>
    3 <strong>Der Finanzinvestor versus dem strategischen Investor</strong>
</p>
<p>
    Wie gerade aufgezeigt, kaufen Finanzinvestoren den zukünftigen Gewinnstrom
    Ihres Unternehmens, also bewerten sie Ihr Unternehmen nach der Ertragskraft
    und der Wahrscheinlichkeit, dass diese Erträge in der Zukunft
    weiterwachsen. Da der Kauf Ihrer Firma höchstwahrscheinlich
    risikobehafteter ist, als das Geld in Staatsanleihen zu investieren, wird
    ein Finanzinvestor eine höhere Rendite auf seine Investition fordern. Sein
    Angebot wird sich im marktüblichen Bereich eines Vielfachen Ihres
    Unternehmens bewegen. (Sprechen Sie mit Ihrem Berater, um herauszufinden,
    welchen Preis vergleichbare Unternehmen wie Ihres am Markt erzielen).
</p>
<p>
    Im Unterschied dazu entwickelt ein strategischer Käufer/ Investor ein
    Angebot, indem er den Wert Ihres Unternehmens in den Händen des Käufers
    einschätzt. Die Rechnungen, die ein strategischer Käufer macht, beginnen
    damit, dass er sich vorstellt, was passieren würde, wenn Ihr Unternehmen
    auf seiner Plattform integriert wäre. Unternehmen führen strategische
    Akquisitionen aus verschiedenen Gründen durch, doch die folgenden sind die
    häufigsten:
</p>
<p>
    <u></u>
</p>
<p>
    <u>Attraktive Erweiterung bestehende Produkte</u>
</p>
<p>
    Ein Unternehmen führt möglicherweise eine strategische Akquisition durch,
    um neues Leben in eine veraltete Cash Cow zu bringen. Einer der Gründe,
    warum Microsoft das verlustmachende Skype für 8,5 Milliarden Dollar gekauft
    hat, war, die beliebte Anrufplattform in die neueste Version des Windows
    Betriebssystems einzubetten und sein Angebot für Unternehmen attraktiver zu
    gestalten.
</p>
<p>
    Der Nettomarktanteil basiert auf der Rechnung, dass neun von zehn Computern
    in der Welt mit einem Microsoft Windows Betriebssystem laufen, also mehr
    als eine Milliarde Computer. Das Problem für Microsoft seit Herbst 2014
    ist, dass nur einer von zehn der Benutzer auf Windows 8 aktualisiert; mehr
    als die Hälfte benutzt nach wie vor Windows 7 und auf knapp unter 25% läuft
    sogar noch XP. Eine clevere Skype-Integration könnte die nächste Version
    von Windows zu einem überzeugenden Upgrade machen, was wiederum den
    bezahlten Preis für Skype wettmacht.
</p>
<p>
    Microsofts Akquisition von Skype zeigt, wie groß der Unterschied zwischen
    finanzieller und strategischer Akquisition ist. Da Skype Geldverluste
    machte, war es aus der Sicht traditioneller, finanzieller Modelle wertlos,
    während es auf strategischer Ebene Milliarden wert war.
</p>
<p>
    <u></u>
</p>
<p>
    <u>Ein neues, fertiges Produkt in der Tasche haben</u>
</p>
<p>
    Ein Unternehmen mit nur ungenügend ausgelastetem Verkaufspersonal könnte
    Ihr Unternehmen kaufen, damit seine Verkäufer ein weiteres Produkt anbieten
    können. AOL akquirierte zum Beispiel Huffington Post, damit die Verkäufer
    das Werbeinventar der Online-Plattform verkaufen konnten. AOL kaufte hier
    nicht den zukünftigen Gewinn des Unternehmens (Huffington Post machte seine
    ersten mageren Gewinne erst 2010), sondern es kaufte das Netzwerk aus
    Werbeflächen als Produkt, das AOL wiederum seinem Portfolio hinzufügen
    konnte.
</p>
<p>
    <u>Marktzugang</u>
</p>
<p>
    <a name="_Hlk499792833"></a>
    Ein weiterer Grund, weshalb Firmen strategische Akquisitionen vornehmen,
    ist der Zugang zu neuen Vertriebskanälen. Zugangsakquisitionen werden
    gemacht, wenn ein Unternehmen einen neuen geografischen Markt betreten
    möchte, der mit größeren kulturellen oder Sprachbarrieren und entsprechend
    hohen Kosten bei der Kundenakquise einhergeht.
</p>
<p>
    Der Unterschied zwischen einer finanziellen und strategischen Akquisition
    ist vergleichbar mit dem Unterschied zwischen dem Kauf eines neuen Autos
    und der Investition in ein Kunstwerk. Wenn Sie ein Auto kaufen, dann gehen
    Sie ähnlich wie bei einer finanziellen Akquisition an die Sache heran,
    indem Sie eine Idee davon haben, wie viel es wert ist. Sie recherchieren
    online und sehen sich um, um herauszufinden, welchen Preis Händler für
    dieses Auto verlangen. Dadurch sind Sie bei der Verhandlung mit genug Daten
    ausgestattet, um das Auto am Ende für plus oder minus 5 Prozent von dem,
    was jeder bezahlt, zu kaufen.
</p>
<p>
    Wenn Sie allerdings ein Kunstwerk bei einer Auktion kaufen, dann gibt es
    keinen vorher vereinbarten Preis für das, was Sie kaufen möchten. Der Preis
    hängt davon ab, was die Leute im Publikum dafür auszugeben bereit sind.
    Ähnlich bestimmt auch ein strategischer Käufer den Wert für Ihr Unternehmen
    – doch anders als bei einem Kunstwerk gibt es für Unternehmen klare
    Kennzahlen, die Attraktivität und damit strategischen Wert eines
    Unternehmens für einen Käufer erhöhen.
</p>
<p>
    Zusammenfassend kann man sagen, dass, je höher Ihr Maexit Score ist, desto
    mehr Optionen – interne Nachfolger / Käufer, Finanzinvestoren oder
    strategische Käufer - stehen Ihnen zur Verfügung und desto höher wird auch
    der Preis sein, den Sie erhalten, wenn Sie zum Verkauf bereit sind.
</p>
<p>
    4 <strong>Strukturen und Prozesse</strong>
</p>
<p>
    Ziel: Plug and Play der Strukturen und Prozesse in die des Investors
</p>
<p>
    Effizienzsteigerung und Kostenreduktion
</p>
<p>
    Transparenz und Dokumentation der Prozesse bilden die Basis für
    Automatisierung und Skalierung.
</p>
<p>
    Ihre Punktzahl in Höhe von XXX bringt eine Eigenschaft Ihres Unternehmens
    zum Vorschein, die unbedingt verbessert werden muss, um den Wert Ihres
    Unternehmens zu steigern.
</p>
<p>
    Bitte die drei nachfolgenden Alternativen aktiv anhand des individuellen
    Scores einblenden:
</p>
<p>
    [[${punkt4}]]
</p>
<p>
    Weiterer wichtiger Punkt ist eine professionelle Buchhaltung. Regelmäßige
    Prüfung durch Wirtschaftsprüfer wirkt positiv auf das Investoreninteresse
    und erleichtert die Due Dilligence Phase.
</p>
<p>
    Wissens- und Personalmanagement sind entscheidend für nachhaltigen Erfolg,
    v.a. für den zukünftigen Unternehmensinhaber.
</p>
<p>
    <a name="_Hlk499804855"></a>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Wie können Sie Ihre Buchhaltungsprozesse für das Bestehen einer externen
    Prüfung noch verbessern?
</p>
<p>
    Wie können Sie das Wissen über Ihre Kunden und Ihre wichtigsten
    Kernprozesse präziser dokumentieren und für Ihre Mitarbeiter verfügbar
    machen?
</p>
<p>
    Wie gewinnen, fördern und binden Sie die Top Experten Ihrer Branche für Ihr
    Unternehmen?
</p>
<p>
    5 <strong>Cashflow Effizienz</strong>
</p>
<p>
    Die Cashflow Effizienz steht für den Einfluss, den Ihr Cashflow, Ihr
    Bruttoergebnis und Ihre Ertragsfähigkeit auf Ihren Unternehmenswert haben.
    Stellen Sie sich eine Wippe auf einem Spielplatz vor, die sich nur in zwei
    Richtungen bewegen kann: Geht das eine Ende nach unten, muss das andere
    hochgehen. Das Gleiche gilt für Ihren Unternehmenswert im Zusammenhang mit
    Ihrem Cashflow: Je mehr Geld ein Käufer bei einer Übernahme in Ihr
    Unternehmen pumpen muss, umso weniger wird der Käufer dafür bezahlen. Das
    Gegenteil trifft auch zu: Je weniger Geld der Käufer in Ihr Unternehmen
    einzahlen muss, desto höher der Preis, den er bezahlen wird.
</p>
<p>
    Bitte die drei nachfolgenden Alternativen aktiv anhand des individuellen
    Scores einblenden:
</p>
<p>
    [[${punkt5}]]
</p>
<p>
    Ihr Ziel sollte sein, durch Wachstum den reinen Finanzwert zu erhöhen. Dies
    erreichen Sie zum Beispiel, indem Sie eine positive Geldumschlagsdauer
    schaffen, bei der Sie Kunden dazu bringen, schneller zu bezahlen, während
    Sie die Zeit für die Zahlung Ihrer Ausgaben hinauszögern. So maximieren Sie
    nicht nur Ihre Ertragsfähigkeit, sondern es macht Ihnen mit Geld in der
    Bank auch noch viel mehr Spaß, Ihr Unternehmen zu führen, bevor Sie es
    verkaufen.
</p>
<p>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Wenn Sie eine Dienstleistung verkaufen, könnten Sie Ihr Angebot zu einem
    »Produkt« umzuwandeln, und es vereinfachen, dieses zu kalkulieren?
</p>
<p>
    Könnten Sie das Inventar, für das Sie im Voraus bezahlen, reduzieren?
</p>
<p>
    Könnten Sie die Zeit, die Sie brauchen, um Verkäufer zu bezahlen,
    verlängern?
</p>
<p>
    6 <strong>Umsatzsicherheit</strong>
</p>
<p>
    Einer der acht Faktoren, die zu Ihrem Unternehmenswert beitragen, ist Ihre
    Finanzperformance, besonders die Höhe Ihrer Erträge zusammen mit Ihrer
    vergangenen und erwarteten Ertragsfähigkeit.
</p>
<p>
    Bitte die drei nachfolgenden Alternativen aktiv anhand des individuellen
    Scores einblenden:
</p>
<p>
    <strong></strong>
</p>
<p>
    [[${punkt6}]
</p>
<p>
    Der Investor wird sich und auch Sie fragen: »Wie stellen Sie sicher, dass
    auch in den nächsten Jahren ein entsprechend hoher Umsatz erzielt wird?«
</p>
<p>
    Jeder Unternehmer und Investor ist an finanzieller Rendite interessiert.
    Ein umsatzschwaches oder schwankendes Unternehmen muss sehr viele
    alternative Vorteile aufweisen, um einen Käufer zu überzeugen.
</p>
<p>
    Das Aufzeigen dieser Vorteile vermittelt eine gewisse Sicherheit, sei es,
    dass Maßnahmen zur Unternehmenswertsteigerung und Digitalisierung entweder
    aus Eigenmitteln finanzierbar sind oder dass die Finanzierungsgröße in
    einem angemessenen Verhältnis zum working capital steht und etwaige
    Konjunkturschwankungen die Liquidität des Unternehmens nicht gefährdet.
</p>
<p>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Wie hoch Ist der Anteil von wiederkehrenden Einnahmen an Ihrem Umsatz und
    wie können Sie mit weiteren, innovativen Vertragsmodellen noch mehr
    Umsatzsicherheit erzielen?
</p>
<p>
    Sind die Risiken aus Ihren bestehenden Verträgen bekannt und risikobewertet
    oder wie können Sie mit professioneller Anleitung versteckte Risiken besser
    identifizieren und Ihr Unternehmen dagegen absichern?
</p>
<p>
    Wie können Sie Ihre liquiden Mittel / fixen Ausgaben noch verbessern, um
    3-6 Monate den laufenden Betrieb vorzufinanzieren?
</p>
<p>
    7 <strong>Unabhängigkeit</strong>
</p>
<p>
    Die Verkaufsfähigkeit eines Geschäfts erlaubt keine große Abhängigkeit von
    Kunden, Mitarbeitern oder Lieferanten.
</p>
<p>
    Bitte die drei nachfolgenden Alternativen aktiv anhand des individuellen
    Scores einblenden:
</p>
<p>

    [[${punkt7}]]

</p>
<p>
    <u>Die Lieferanten </u>
</p>
<p>
    Falls Ihr Geschäft von einem oder zwei Hauptlieferanten abhängt (Firmen
    oder unabhängige Fachberater) sind Sie an deren Zusage und Treue gebunden.
    Wenn Sie aber eine größere Anzahl an Lieferanten realisieren, hat dies eine
    gesteigerte Unabhängigkeit Ihres Geschäfts zur Folge. Erweitern Sie Ihren
    Zuliefererkreis, auch wenn das den Ausschluss spezieller Preisnachlässe zur
    Folge hat. Letztendlich wird Ihnen die Neutralität Ihres Geschäfts mehr
    bringen, als einige gesparte Euro.
</p>
<p>
    <u>Die Mitarbeiter </u>
</p>
<p>
    Falls Sie zu sehr von Ihren Mitarbeitern abhängen, vergrößert das das
    Risiko, dass jene bei unzureichender Bezahlung das Unternehmen verlassen.
    Um diese Situation zu vermeiden, erstellen Sie eine Liste der Fähigkeiten
    und Stellen, die für Ihr Unternehmen notwendig sind. Denken Sie mehr in
    Skills als in Personen.
</p>
<p>
    <u>Die Kunden </u>
</p>
<p>
    Falls Sie zu abhängig von bestimmten Kunden sind, ist Ihr Geschäft sehr
    instabil. Bemühen Sie sich Ihr Geschäft so zu steuern, dass Ihr größter
    Kunde nicht mehr als 15% Ihrer Einnahmen bringt. Dadurch werden Sie nachts
    besser schlafen und automatisch einen größeren strategischen
    Unternehmenswert haben, falls Sie Ihr Geschäft verkaufen sollten.
</p>
<p>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Stufen Sie Ihre Mitarbeiter nach dem Ersatzschwierigkeitsgrad ein. Was
    können Sie tun, um Ihre Abhängigkeit von jenen zu verringern, die am
    schwierigsten zu ersetzen sind?
</p>
<p>
    Bestimmen Sie Ihre notwendigen Rohstoffe. Welche weiteren Firmen könnten
    diese Rohstoffe liefern? Wie können Sie Preisnachlässe mit anderen
    Lieferanten vereinbaren?
</p>
<p>
    Stufen Sie Ihre Kunden nach ihren prozentualen Umsatzanteilen ein. Wie
    können Sie den Verkauf an kleinere Kunden erhöhen oder neue Kunden
    anwerben, um die prozentuale Verteilung aller Kunden auszugleichen und den
    Gesamtwert zu erhalten?
</p>
<p>
    8 <strong>Wachstumspotenzial</strong>
</p>
<p>
    Einer der wichtigsten Faktoren, um Ihr Unternehmen verkaufbar zu machen,
    ist Ihr Wachstumspotenzial, insbesondere die Skalierbarkeit und
    Flexibilität Ihrer Geschäftsmodelle.
</p>
<p>
    Bitte die drei nachfolgenden Alternativen aktiv anhand des individuellen
    Scores einblenden:
</p>
<p>
    [[${punkt8}]]
</p>
<p>
    Stellen Sie sich vor, der Investor besitzt genau Ihre Zielgruppe und
    schickt Ihnen morgen 10.000 Kunden. Könnten Sie liefern?
</p>
<p>
    Wie schnell können Sie in andere Märkte expandieren, neue Zielgruppen
    erschließen, etc.? Wenn Ihr Unternehmen lokal gebunden ist, müssen Sie
    intensiv über die Skalierbarkeit Ihres Geschäftsmodells nachdenken.
</p>
<p>
    Zeigen Sie dem Investor, wie Ihr Unternehmen wachsen kann. Wie sind der
    Wettbewerb und wie Ihre aktuelle Markt- und Brandingstrategie beschaffen,
    um sich im Wettbewerb zu behaupten und warum sollen die Kunden bei Ihnen
    kaufen?
</p>
<p>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Wie können Sie sich so positionieren, dass Sie ein Nischenprodukt / Service
    anbieten, das auf dem Markt so einzigartig ist, dass Ihre Kunden lange
    suchen müssten, um einen anderen Anbieter zu finden, der anbietet, was Sie
    verkaufen?
</p>
<p>
    Wie können Sie noch lukrativere, digitale Produkte für Ihre Kundengruppen
    entwickeln, die sich am geänderten, digitalen Verhalten Ihrer Kunden
    orientieren?
</p>
<p>
    Können Sie bei Ihren Kunden noch weitere bzw. komplementäre Produkte aus
    Ihrem Portfolio oder Joint Ventre Partner platzieren?
</p>
<p>
    <strong></strong>
</p>
<p>
    9 <strong>Tech-Innovationsfähigkeit</strong>
</p>
<p>
    Das Internet der Dinge oder Web 4.0 bedeutet die Vernetzung von Geräten und
    damit eine tiefgreifende Veränderung von Prozessen. Big Data und künstliche
    Intelligenz stellen heute die Weichen für den Unternehmenserfolg der
    Zukunft. Längst müssen Marketing und Kommunikation, Vertrieb und Produktion
    neue Wege gehen, wollen sie am Markt mithalten.
</p>
<p>
    Wie hoch ist Ihre digitale Reife und Innovationsfähigkeit?
</p>
<p>
    Bitte die drei nachfolgenden Alternativen aktiv anhand des individuellen
    Scores einblenden:
</p>
<p>
    [[${punkt9}]]
</p>
<p>
    Haben Sie ein gutes Innovations- und Lifecyclemanagement? Wie fördern und
    pflegen Sie eine aktive Innovationskultur? Innovationen sind der Grundstein
    für Wachstum und Beständigkeit in der Zukunft. Wie wurde dies in den
    letzten Jahren in Ihrem Unternehmen und vom Management gelebt? Haben Sie
    eigene, aktuelle Innovationen auf den Markt gebracht? Beschäftigen Sie eine
    eigene R&amp;D-Abteilung (zumindest eine Person) oder haben Sie / planen
    Sie strategische Zukäufe neuer Technologiepartner?
</p>
<p>
    Wenn der Investor erkennt, dass in Ihrem Unternehmen kein Innovationsstau
    vorliegt, ist das ein gutes Indiz dafür, das nicht nur die Technologie,
    sondern auch das Mindset zukunftsfähig ausgerichtet ist und Innovationen
    und Veränderungen erfolgreich umgesetzt werden können.
</p>
<p>
    <a name="_Hlk499806750"></a>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Wie können Sie Kosteneffizienz- und Produktivitätssteigerungseffekte der
    Digitalisierung voll ausschöpfen?
</p>
<p>
    Daten sind die neuen Firmenwerte. Wie können Sie Daten in Ihrem Unternehmen
    noch besser erfassen und nutzen für mehr Umsatz und Effektivität?
</p>
<p>
    Mit jeder industriellen Revolution entstehen neue Branchen. Können Sie
    durch den Einsatz innovativer Technologien neue Geschäftsfelder aufbauen?
</p>
<p>
    <strong></strong>
</p>
<p>
    10 <strong> Austauschbarkeit</strong>
</p>
<p>
    Dieser Faktor misst das Ausmaß, in dem Ihr Geschäft ohne Sie erfolgreich
    sein kann. Nur wenn Ihr Unternehmen auch ohne Sie gut läuft und in der Lage
    ist, Wachstum zu generieren, besitzt es Attraktivität für potentielle
    Ankäufer. Daher ist es entscheidend, dass Sie nicht an der Spitze aller
    Aktivitäten stehen müssen und Ihre Angestellten auch ohne Sie arbeiten
    können.
</p>
<p>
    Bitte die drei nachfolgenden Alternativen aktiv anhand des individuellen
    Scores einblenden:
</p>
<p>
    [[${punkt10}]]
</p>
<p>
    Inhaber erhalten in diesem Bereich häufig einen niedrigen Wert, weil sie
    ihre Kunden weiterhin persönlich betreuen. Schließlich fühlt es sich gut
    an, die Probleme anderer Menschen zu lösen. Zufriedene Kunden überschütten
    Sie mit Lob, Sie bekommen Bestätigung und fühlen sich gebraucht und wissen,
    dass die Kunden durch Sie stets die beste Behandlung erfahren. Schließlich
    sind Sie es, der Ihr Geschäft besser kennt als alle anderen. Ihr Wissen zu
    vermitteln kostet Zeit und Geld.
</p>
<p>
    Wie auch immer, je mehr Ihre Kunden Sie brauchen und nach Ihnen persönlich
    verlangen, desto schwieriger wird es sein, Ihr Geschäft wachsen zu lassen
    und langfristig schlägt sich dies in einem geringeren Unternehmenswert
    nieder.
</p>
<p>
    Die folgenden drei Schritte helfen Ihnen, die Fäden nach und nach aus der
    Hand zu geben:
</p>
<p>
    1. Steigen Sie aus dem Problemlösungs-/ und Reparaturgeschäft aus
</p>
<p>
    Es ist leichter, Menschen beizubringen, ein Problem zu verhindern als ihnen
    zu zeigen, wie man etwas repariert, das bereits defekt ist. Beispielsweise
    kann ein Swimmingpool-Unternehmen im Sommer einem Mitarbeiter beibringen,
    jede Woche Schmutz aus dem Pool zu schaufeln. Um jedoch eine Pumpe zu
    ersetzen, die aufgrund eines verstopften Abflusses überhitzt ist, bedarf es
    eines Experten. In den meisten Unternehmen ist dieser Experte der
    Eigentümer, also Sie.
</p>
<p>
    2. Machen Sie Urlaub
</p>
<p>
    Beginnen Sie langsam damit, sich Abende und Wochenenden komplett frei zu
    nehmen. Lassen Sie Ihr Handy im Büro und antworten Sie nicht auf
    Nachrichten. Dann nehmen Sie sich einfach einen Tag in der Woche frei. Wenn
    es Ihnen möglich ist, nehmen Sie sich eine ganze Woche frei und verzichten
    Sie auch dann darauf, ins Büro zu gehen. Zuerst werden Ihre Angestellten
    Ihr Vorhaben nicht ernst nehmen… bis sie sehen, dass Sie wirklich nicht
    erreichbar sind. Wenn Sie erst einmal realisiert haben, dass sie auf sich
    selbst gestellt sind, beginnen die Besten damit, unabhängig von Ihnen
    Entscheidungen zu treffen. Es ist beeindruckend, wie intelligent und begabt
    viele Menschen sind, wenn sie nur die Möglichkeit haben es zu zeigen. Sie
    werden auch die schwächeren Ihrer Mitarbeiter identifizieren und können
    demnach entscheiden, wen Sie weiter ausbilden oder wen Sie vielleicht sogar
    entlassen möchten.
</p>
<p>
    3. Fragen Sie Ihre Angestellten, was sie an Ihrer Stelle tun würden
</p>
<p>
    Damit Ihre Angestellten beginnen, wie ein Eigentümer zu denken, ermutigen
    Sie sie, ihre Probleme selbst zu lösen. Wenn ein Mitarbeiter mit einem
    Problem und ohne Lösungsvorschlag zu Ihnen kommt, fragen Sie ihn »Wenn es
    Ihr Unternehmen wäre, was würden Sie tun?« Diese simple Frage bringt Ihre
    Mitarbeiter dazu, die Dinge zum Wohle des Unternehmens zu durchdenken und
    etabliert die Angewohnheit Entscheidungen zu treffen. Wenn dies fest in den
    Köpfen der Mitarbeiter verankert hat, können sie sich schließlich wie der
    Eigentümer selbst verhalten.
</p>
<p>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Wie verbringen Sie im Moment Ihren Tag im Unternehmen? Zeichnen Sie ein
    Kuchendiagramm und teilen Sie die Stücke anteilig auf. Die Zeit, die Sie
    auf der Arbeit verbringen und die Zeit, die Sie jeweils mit anderen
    Aktivitäten zubringen, soll abgebildet werden. Welche Entdeckung machen Sie
    hinsichtlich dessen, wie Sie Ihre Zeit verbringen?
</p>
<p>
    Gibt es aktuell einen Mitarbeiter, der den Verkauf und Marketing oder
    Produktqualität/Dienstleistungsbereich und den Innovationsbereich leiten
    könnte?
</p>
<p>
    Welche aktuellen Probleme könnten in Ihrem Unternehmen durch einen formalen
    Prozess oder eine (Bedienungs-) Anleitung gelöst werden? Die Dokumentation
    von Prozessen kann Ihnen dabei helfen, Mitarbeiter zu schulen und diese
    befähigen, in Ihre Fußstapfen zu treten.
</p>
<p>
    11 <strong>Immaterielle Mehrwerte</strong>
</p>
<p>
    Der X-Faktor, der viele Unternehmenskäufe aus rein finanzmathematischen
    Gesichtspunkten nur schwer nachvollziehen lässt, sind immaterielle
    Mehrwerte, die das Unternehmen für den Käufer alternativlos machen.
</p>
<p>
    Bitte die drei nachfolgenden Alternativen aktiv anhand des individuellen
    Scores einblenden:
</p>
<p>
    [[${punkt11}]]
</p>
<p>
    Im internationalen Wettbewerb geht es nicht nur um Patente, Lizenzen,
    Zertifizierungen oder Zugänge zu schwierigen Märkten oder Big Playern.
    Manche Unternehmen bekamen in der Vergangenheit einen hohen Preis gezahlt,
    weil sie über die Daten einer bestimmten Zielgruppe verfügten, die der
    Käufer unbedingt haben wollte.
</p>
<p>
    Bedenken Sie auch die Macht der virtuellen Kundennetzwerke: In Zeiten der
    sozialen Medien ist ein guter Ruf innerhalb von nur wenigen Sekunden
    geschädigt und unwiderruflich im Netz verewigt und für jeden zugänglich.
</p>
<p>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Überlegen Sie, wie Sie Ihren Einfluss (gemessen an der Anzahl der Menschen,
    die sich über E-Mail Listen oder Social Media Profile für Informationen
    über Ihr Unternehmen interessieren) noch steigern können?
</p>
<p>
    Wie können Sie die Anzahl der eigenen Kunden erhöhen, deren
    Geschäftserfolge von den Produkten und Dienstleistungen Ihres Unternehmens
    abhängig sind?
</p>
<p>
    Wie können Sie weitere Attraktivitätsfaktoren, wie »geistiges Eigentum«
    oder vorteilhafte Verträge / Handelsabkommen, Auszeichnungen,
    Zertifizierungen, etw. aufbauen?
</p>
<p>
    <strong></strong>
</p>
<p>
    12 <strong>Nächste Schritte</strong>
</p>
<p>
    Behandeln Sie (mit Ihrem Berater) u.a. folgende Fragestellungen zur
    Optimierung:
</p>
<p>
    Gehen Sie im Dashboard die einzelnen Key Value Driver durch und sehen Sie
    im Detail, an welchen Punkten Sie ansetzen können, um Ihren strategischen
    Unternehmenswert signifikant zu steigern.
</p>
<p>
    Buchen Sie ein kostenloses Strategiegespräch und erfahren Sie, wie eine
    konkrete Umsetzung für Ihr Unternehmen und Ihren Maximum Exit aussehen
    kann.
</p>
<p>
    Setzen Sie die Maßnahmen zur Unternehmenswertsteigerung um oder holen Sie
    sich einen Experten, damit Sie sich in 1-3 Jahren reich und glücklich zur
    Ruhe setzen können.
</p>
<p>
    Viel Erfolg
</p>
<p>
    Ihr
</p>
<p>
    Christian Haack
</p>
</body>
</html>